.add-workout-form {
    border: 2px solid #16a085;
    padding: 1em;
    width: 100%;
    border-radius: .5em;
    &__section {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 2em;
        padding-bottom: 1em;
        border-bottom: 2px solid #dfdfdf;
    }
    input {
        border: none;
        border-bottom: 1px solid #dfdfdf;
        padding: .5em 1em;
        margin: 0 1em 0 0;
    }
    select {
        width: 120px;
        height: 40px;
        margin: 0 1em 0 0;
    }
    &__workout {
        &__row {
            margin: 0 0 1em 0;
            input {
                width: 100px;
            }
        }
    }

}   