.workout {
    width: 100%;
    height: auto;
    border: 2px solid #16a085;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    padding-top: .5em;
    margin: .5em 0;
    &__headline {
        width: 100%;
        display: flex;
        justify-content: space-between;
        &__title {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
                margin: 0;
            }
            h4 {
                margin: 0;
            }
        }
        &__stats {
            width: 200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            }
            &__button {
                height: 40px;
                min-width: 140px;
                background-color: #1abc9c;
                color: #fff;
                padding: .5em;
                border-radius: 10px;
            }
        }
    }
    &__view {
        width: 100%;
    }
}