.workout {
    width: 100%;
    min-height: 100px;
    background-color: #16a085;
    border: 2px solid #16a085;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    &__headline {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        &__title {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
                margin: 0;
            }
            h4 {
                margin: 0;
            }
        }
        &__stats {
            width: 200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            }
            &__button {
                // width: 150px;
                height: 50px;
                background-color: #27ae60;
                color: #fff;
                padding: .5em;
                border-radius: 10px;
            }
        }
    }
    &__show {
        width: 100%;
        min-height: 400px;
    }
    &__hide {
        display: none;
    }
}