.login-screen {
  height: 100vh;
  width: 100vw;
  background-color: #16a085;
  display: flex;
  align-items: center;
  justify-content: center;
}


.login-container {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #1abc9c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form-field {
  border: none;
  border-radius: 20px;
  padding: .5em 1em;
}

.login-form-submit {
  background-color: #fff;
  color: #1abc9c;
  margin-top: .5em;
}

.header {
  height: 50px;
  background-color: #16a085;
}

.main {
  height: 100vh;
  width: 100vw;
}